{
  "presets": [
    ["env", {
      "targets": {"node": "current"},
      "useBuiltIns": true
    }],
    "react",
    "stage-0"
  ],
  "env": {
    "test": {
      "presets": ["react-optimize"],
      "plugins": ["istanbul"]
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
