{
  "plugins": [
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "babel-plugin-parameter-decorator"
  ],
  "presets": [
    [
      "razzle/babel",
      {
        "preset-env": {},
        "preset-react": { "runtime" : "automatic" },
        "transform-runtime": {},
        "class-properties": false
      }
    ]
  ]
}
