<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    <title>${input.title}</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.svg">
  </head>
  <body>
    <div#root></div>
    <for|src| of=input.assets.client.js>
      <script src=src crossorigin=( process.env.NODE_ENV === 'production' ) defer></script>
    </for>
  </body>
</html>
