.CommentList_inline {
  flex-direction: row;
}

.CommentList_muted {
  opacity: 0.3;
}

.CommentList_error {
  color: #ffbbbb;
}

.CommentList_textMuted {
  color: #bbbbbb;
}

.CommentList_comment {
  font-size: 14px;
  margin: 4px;
  padding: 4px;
}

.CommentList_commentBody {
  padding-left: 10px;
  border-left-color: #bbbbbb;
  border-left-width: 1px;
}

.CommentList_disclosure {
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin-left: 2px;
  margin-right: 8px;
}

.CommentList_disclosureRow {
  cursor: pointer;
  padding-left: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}
