.NotFound_container {
    margin: 30px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.NotFound_image {
    margin-top: 60px;
}
.NotFound_text {
    margin-top: 40px;
}