.StoryListItem_link {
  color: black;
  text-decoration: none;
}

.StoryListItem_flexRow {
  display: flex;
  flex: 1;
  padding: 8px;
}

.StoryListItem_icon {
  width: 32px;
  height: 32px;
}

.StoryListItem_storyCell {
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.StoryListItem_storyTitle {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
}

.StoryListItem_storyIndex {
  display: flex;
  flex: 0 0 auto;
  font-size: 18px;
  line-height: 1.2;
  margin-right: 12px;
}
.StoryListItem_storyIndex::after {
  display: block;
  content: '.';
}

.StoryListItem_row {
  align-items: center;
  flex-direction: row;
}

.StoryListItem_itemRow {
  align-items: stretch;
  border-bottom: solid 1px #eee;
  display: flex;
  margin-top: 6px;
  margin-bottom: 6px;
  cursor: default;
}

.StoryListItem_byline,
.StoryListItem_commentsText {
  color: #999999;
}
.StoryListItem_byline {
  font-size: 12px;
  padding: 0;
}

.StoryListItem_commentsCell {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8;
  text-align: center;
  width: 80px;
}

.StoryListItem_row .StoryListItem_number {
  margin-right: 4px;
  padding-right: 6px;
  border-right: 1px solid currentColor;
}
.StoryListItem_number b {
  font-weight: 700;
}

.StoryListItem_commentsText {
  font-size: 10px;
  text-align: center;
}
.StoryListItem_commentsCell a {
  text-decoration: none;
}
a:hover .StoryListItem_commentsText {
  color: #000;
}